# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*

# local env files
.env**
!.env.example

# typescript
*.tsbuildinfo

# wakatime
.wakatime**
