$primary: rgb(37, 99, 102);
$alt-primary: rgb(29, 80, 82);

$secondary: rgb(255, 236, 219);
$alt-secondary: rgb(246, 236, 228);

$tertiary: rgb(248, 191, 135);
$alt-tertiary: rgb(250, 131, 127);

$contrast: #c0f5bf;
$high-contrast: #c6c6c6;
$bar-primary: rgb(31, 19, 107);
$btn-shadow-color: rgb(56, 42, 138);
$lesser-info-color: rgb(177, 169, 191);

$success: rgb(62, 224, 153);
$alert: rgb(255, 115, 0);
$idle: rgb(62, 214, 224);

$low-contrast: rgb(251, 133, 0);
$low-contrast-secondary: rgb(248, 158, 55);
$low-contrast-tertiary: rgb(184, 98, 0);

$font-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
$default-border-radius: 8px;

$primary-font: 'Kumbh Sans', sans-serif;
$secondary-font: 'Josefin Sans', sans-serif;
$tertiary-font: 'Ubuntu Mono', monospace;
