@import './sass/variables';
@import './sass/resets';
@import './sass/mixins';

@import './plugins/ConfirmAlert';
@import './plugins/DatePicker';
@import './plugins/Calendar';
@import './plugins/Dropdown';

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: $primary;
}
*.hidden {
  display: none;
}
*.disabled {
  opacity: 0.75;
  pointer-events: none;
}
.form-group {
  @include flex(column, center, center, 45px);
  position: relative;

  padding-top: 40px;
  height: fit-content;
  width: 100%;

  .input-section {
    position: relative;
    font-size: 1.4rem;
    font-family: $primary-font;

    .input-field {
      display: block;
      padding: 10px 10px 6px 5px;
      width: 300px;

      color: $secondary;
      font-size: 1.2rem;
      text-overflow: ellipsis;
      text-shadow: $font-shadow;

      border: none;
      background-color: transparent;

      &:disabled {
        border-left: 2px solid $alert;
      }
      &:hover {
        cursor: text;
      }
      &--active {
        outline: none;

        /* active state */
        ~ .bar:before,
        ~ .bar:after {
          width: 50%;
        }
        ~ .highlight {
          animation: input-highlighter 0.3s ease;
        }
      }
      /* active state */
      &--active ~ .label-text,
      &:valid ~ .label-text,
      &:autofill ~ .label-text,
      &:-webkit-autofill ~ .label-text {
        top: -18px;
        color: $tertiary;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active,
      &:-webkit-autofill:first-line {
        transition: background-color 50000s ease-in-out 0s;
        -webkit-text-fill-color: $secondary !important;
      }
      #placeholder {
        transition: background-color 50000s ease-in-out 0s;
        -webkit-text-fill-color: $secondary !important;
      }
    }
    .label-text {
      position: absolute;
      top: 10px;
      left: 10px;

      color: $secondary;
      font-weight: 400;
      text-shadow: $font-shadow;

      pointer-events: none;
      transition: 0.2s ease all;

      span {
        font-weight: bold;
      }
    }
    .bar {
      position: relative;
      display: block;
      width: 300px;
      border-top: 1px solid $secondary;

      &:before,
      &:after {
        position: absolute;
        bottom: 1px;

        height: 2px;
        width: 0;

        content: '';
        background: $tertiary;
      }
      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
    }
    .highlight {
      position: absolute;
      top: 25%;
      left: 0;

      height: 60%;
      width: 100px;

      opacity: 0.5;
      pointer-events: none;
    }
    @keyframes input-highlighter {
      from {
        background: $tertiary;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
  }
}
.styled-btn {
  position: relative;
  left: 0px;
  top: 0px;

  padding: 8px 0;
  height: fit-content;
  width: 100%;

  color: white;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: $primary-font;

  border-radius: 5px;
  border: 1px solid $low-contrast-secondary;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: $low-contrast-tertiary 2px 4px 0px 0px;
  background-color: $low-contrast;

  &.clicked {
    left: 2px;
    top: 4px;

    box-shadow: white 0px 0px 0px 0px;
  }
}
.auth-page {
  @include flex(column, center, center, initial);
  position: relative;
  min-height: 100vh;
  width: 100vw;
  opacity: 0;
  filter: blur(3px);
  transition: all 400ms ease-in-out 0s;

  &.has-loaded {
    opacity: 1;
    filter: blur(0px);
  }
  &__container {
    @include flex(column, center, center, 70px);

    height: 100%;
    font-family: $primary-font;

    .title-card {
      position: relative;
      z-index: 0;

      width: 100%;
      color: $tertiary;
      text-align: center;
      text-shadow: $font-shadow;

      white-space: nowrap;
      font-size: clamp(4.8rem, 5vw, 8rem);
      font-weight: 300;
    }
    .alert-text {
      position: absolute;
      top: 50px;
      left: 2px;

      height: min-content;
      width: 100%;

      color: $alert;
      text-align: left;
      font-weight: 600;
      font-size: 0.92rem;

      pointer-events: none;
      transition: all 0.3s ease-in-out;

      &.color-transparent {
        color: transparent;
      }

      @media only screen and (min-width: 740px) {
        flex-direction: row;
      }
    }
    .input-spacedout-field {
      letter-spacing: 3px !important;
    }
    .footer-section {
      @include flex(column, center, center, 35px);
    }
    a,
    .return-btn {
      position: relative;
      z-index: 1;

      color: $alt-secondary;
      text-shadow: $font-shadow;
      font-weight: 500;

      &:hover {
        color: $tertiary;
        cursor: pointer;
      }
    }
    .submit-btn {
      @include flex(initial, center, center, initial);
      position: relative;
      z-index: 1;

      margin-top: 10px;
      width: 280px;
      height: 50px;

      font-size: 1.4em;
      font-family: $primary-font;
      color: $alt-primary;

      border: none;
      cursor: pointer;
      background-color: $tertiary;
      border-radius: 5px;

      &:hover {
        filter: brightness(1.15);
      }
      * {
        pointer-events: none;
      }
    }
  }
  .form-sections-wrapper {
    @include flex(column, center, center, 50px);
    height: min-content;
    width: 100%;

    @media only screen and (min-width: 1440px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  .section-container {
    @include flex(column, center, center, initial);

    height: min-content;
    width: 100%;
  }
}
.background-image {
  pointer-events: none;
  height: auto !important;
  width: auto !important;
  min-height: 1080px !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto !important;

  position: fixed !important;
}
.nav-icon {
  font-size: 1.5rem;
  color: $alt-primary;

  &.prev,
  &.double-prev {
    transform: rotate(180deg);
  }
}
.input-date-section {
  @include flex(column, initial, flex-start, initial);

  &__label {
    width: 100%;
    margin-bottom: 10px;

    color: $secondary;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: $font-shadow;
    font-family: $primary-font;
  }
  &__divider {
    position: relative;
    display: block;
    width: 300px;
    border-bottom: 1px solid $secondary;
  }
}
.input-section.gender-identity,
.input-section.assigned-at-birth {
  .select-wrapper__single-value {
    letter-spacing: 1px !important;
  }
}
.react-confirm-alert-body-element #register-page {
  filter: url(#gaussian-blur);
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
#check-in-page,
#register-page {
  padding: 80px 0;
  overflow-y: scroll;

  .section-header {
    @include flex(row, space-between, center, 15px);
    position: relative;
    width: 100%;

    &__subtitle {
      position: relative;
      z-index: 1;

      width: max-content;

      color: $tertiary;
      font-size: 2.3rem;
      font-weight: 400;
      text-align: left;
      text-shadow: $font-shadow;

      &:hover {
        cursor: pointer;

        * {
          pointer-events: none;
        }
      }
    }
    &__icon {
      position: relative;
      z-index: 1;

      padding-top: 4px;
      font-size: 2.7rem;
      color: $secondary;

      &:hover {
        color: $tertiary;
        cursor: pointer;

        * {
          pointer-events: none;
        }
      }
      &--active {
        position: relative;
        z-index: 1;

        padding-top: 4px;
        font-size: 2.5rem;
        color: $tertiary;

        &:hover {
          color: $secondary;
          cursor: pointer;

          * {
            pointer-events: none;
          }
        }
      }
      &--complete {
        position: relative;
        z-index: 1;

        padding-top: 4px;
        font-size: 2.7rem;
        color: $tertiary;

        &:hover {
          color: $secondary;
          cursor: pointer;

          * {
            pointer-events: none;
          }
        }
      }
    }
    &__complete-checkmark {
      position: absolute;
      z-index: 2;
      top: 20px;
      right: -2px;

      color: $secondary;
      font-size: 1.9rem;
      border-radius: 50%;
      background-color: $alt-primary;

      pointer-events: none;
    }
  }
  .register-data-section {
    @include flex(column, initial, center, 30px);
    height: 0;
    width: 100%;
    overflow: hidden;
  }
  .input-section {
    font-size: 1.2rem;

    &.push-bottom {
      margin-bottom: 15px;
    }
    .input-field {
      &-password {
        width: 275px;
        letter-spacing: 6px !important;
      }
      &--active {
        padding-left: 7px;

        ~ .label-text {
          top: -18px;
          color: $tertiary;
        }
      }
      &:-internal-autofill-selected {
        background-color: transparent !important;
      }
    }
    .label-text {
      > span {
        font-weight: 400;
        font-size: 0.85rem;
        letter-spacing: 3px;
      }
    }
    .tidy-field {
      width: 275px;
      letter-spacing: 0px !important;
    }
    &__reset-icon {
      position: absolute;
      top: 9px;
      right: 5px;

      color: $secondary;
      font-size: 1.3rem;
      transition: all 100ms ease-in-out 0s;

      &:hover {
        color: $tertiary;
        cursor: pointer;

        * {
          pointer-events: none;
        }
      }
      &.position-left {
        right: 40px;
      }
    }
    &__label {
      margin-bottom: 5px;
      padding-left: 10px;

      color: $tertiary;
      font-size: 1.3rem;
      font-weight: 400;
      text-shadow: $font-shadow;
    }
    &__cpf-icon,
    &__phone-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 1;
      cursor: default;
      color: $secondary;

      &:hover {
        * {
          pointer-events: none;
        }
      }
      &--active {
        color: $tertiary;
      }
    }
    &__eye-icon,
    &__insurance-code-icon {
      position: absolute;
      top: 10px;
      right: 5px;
      z-index: 1;
      cursor: default;
      color: $secondary;
    }
    &__cpf-icon {
      font-size: 1.7rem;

      &--invalid {
        color: $alert;
        filter: saturate(0.5);
      }
    }
    &__phone-icon {
      font-size: 1.5rem;
    }
    &__insurance-code-icon {
      font-size: 1.5rem;
    }
  }
  .postal-code-input {
    margin-top: 10px;
    font-size: 1.3rem;

    .input-field {
      padding-bottom: 7px;
      letter-spacing: 5px !important;

      &:focus ~ .label-text,
      &:autofill ~ .label-text,
      &:-webkit-autofill ~ .label-text {
        top: -16px;
        color: $tertiary;
      }
    }
    .label-text {
      top: 11px;
    }
    .alert-text {
      top: 47px;
    }
    &__submit-icon {
      position: absolute;
      top: 11px;
      right: 8px;

      color: $secondary;
      font-size: 1.2rem;
      transition: all 100ms ease-in-out 0s;

      &:hover {
        color: $tertiary;
        cursor: pointer;

        * {
          pointer-events: none;
        }
      }
      &--active {
        color: $tertiary;
      }
    }
    /* .input-section__reset-icon {
      right: 40px;
    } */
  }
  .input-date-field {
    padding-bottom: 7px;

    font-weight: 400;
    font-size: 1.3rem;
    font-family: $primary-font;

    ~ .label-text {
      top: -13px;
    }
    &::-webkit-datetime-edit-day-field:focus,
    &::-webkit-datetime-edit-month-field:focus,
    &::-webkit-datetime-edit-year-field:focus {
      color: $alert;
      background-color: initial;
      transition: all 200ms ease-in-out 0s;
    }
    &::-webkit-calendar-picker-indicator {
      filter: invert(100%);

      &:hover {
        cursor: pointer;
      }
    }
  }
  .select-wrapper {
    position: relative;
    min-width: 300px;
    max-width: 300px;
    font-size: 1.15rem;

    &__control {
      position: relative;
      outline: none;
      border: none;
      border-radius: 0px;
      text-overflow: ellipsis;
      flex-wrap: nowrap;
      border-bottom: 2px solid $tertiary;

      box-shadow: none;

      background-color: transparent;
    }
    &__menu {
      position: relative;
      height: min-content;
      width: 100%;

      color: $alt-primary;
      text-shadow: $font-shadow;

      border: 1px solid $alert;
      background-color: $secondary;
      overflow-y: scroll;

      ::-webkit-scrollbar {
        display: block !important;
        appearance: auto !important;
      }
    }
    &__option {
      cursor: pointer;
      pointer-events: bounding-box;

      * {
        pointer-events: none;
      }

      &--is-selected {
        color: initial;
        background-color: $tertiary !important;
      }
      &--is-focused {
        color: $alert;
        background-color: initial;
      }
      &--is-selected.select-insurance__option--is-focused {
        color: $primary;
        background-color: $tertiary;
      }
    }
    &__value-container,
    &__value-container--has-value {
      text-shadow: $font-shadow;
    }
    &__input-container,
    &__placeholder,
    &__indicator,
    &__single-value,
    &__clear-indicator {
      color: $secondary;
    }
    &__indicator,
    &__clear-indicator {
      transition: all 100ms ease-in-out 0s;

      * {
        pointer-events: none;
      }

      &:hover {
        color: $alert;
      }
      &-separator {
        background-color: $alt-secondary;
      }
    }
    &__placeholder {
      pointer-events: none;
    }
    &__clear-indicator {
      cursor: pointer;
      pointer-events: bounding-box;
    }
    &__indicator {
      cursor: pointer;
      pointer-events: bounding-box;
    }
    &__single-value {
      font-weight: 400;
      letter-spacing: 2px;
    }
    .value-container-on-click {
      width: 100%;
      cursor: text;
      pointer-events: all;
      * {
        pointer-events: none;
      }
    }
  }
  .create-password-section.form-group {
    padding-top: 0px !important;
  }
}
#check-in-page {
  .auth-page__container {
    gap: 30px;
  }
}
#loading-dots {
  /* sourced from https://primarypen.io/nzbin/pen/GGrXbp?editors=1100 (modified) */
  position: relative;
  left: -15px;
  right: 0;
  margin: 0 auto;

  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: $alt-tertiary;
  box-shadow: 12px 0 0 -5px $alt-tertiary;
  animation: dotPulse 1s infinite linear;
  animation-delay: 0.17777777s;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $alt-tertiary;
    color: $alt-tertiary;
  }

  &::before {
    box-shadow: -25px 0 0 -5px $alt-tertiary;
    animation: dotPulseBefore 1s infinite linear;
    animation-delay: 0s;
  }

  &::after {
    box-shadow: 36px 0 0 -5px $alt-tertiary;
    animation: dotPulseAfter 1s infinite linear;
    animation-delay: 0.33333s;
  }
  @keyframes dotPulseBefore {
    0% {
      box-shadow: -25px 0 0 -5px $alt-tertiary;
    }
    30% {
      box-shadow: -25px 0 0 2px $alt-tertiary;
    }
    60%,
    100% {
      box-shadow: -25px 0 0 -5px $alt-tertiary;
    }
  }
  @keyframes dotPulse {
    0% {
      box-shadow: 12px 0 0 -5px $alt-tertiary;
    }
    30% {
      box-shadow: 12px 0 0 2px $alt-tertiary;
    }
    60%,
    100% {
      box-shadow: 12px 0 0 -5px $alt-tertiary;
    }
  }
  @keyframes dotPulseAfter {
    0% {
      box-shadow: 36px 0 0 -5px $alt-tertiary;
    }
    30% {
      box-shadow: 36px 0 0 2px $alt-tertiary;
    }
    60%,
    100% {
      box-shadow: 36px 0 0 -5px $alt-tertiary;
    }
  }
}
