@import './sass/resets';
@import './sass/variables';
@import './sass/mixins';

@import './plugins/DatePicker';
@import './plugins/Calendar';
@import './plugins/Dropdown';

body {
  height: 100vh;
  width: 100vw;
  background-color: $primary;
}
.form-group {
  @include flex(column, center, center, 45px);
  position: relative;
  height: fit-content;
  width: 100%;

  .submit-btn {
    @include flex(initial, center, center, initial);
    margin-top: 10px;
    width: 280px;
    height: 50px;

    font-size: 1.4em;
    font-family: $primary-font;
    color: $alt-primary;

    border: none;
    cursor: pointer;
    background-color: $tertiary;
    border-radius: 5px;

    &:hover {
      filter: brightness(1.3);
    }
    * {
      pointer-events: none;
    }
  }
  .input-section {
    position: relative;
    font-size: 1.4rem;
    font-family: $primary-font;

    .input-field {
      display: block;
      padding: 10px 10px 10px 5px;
      width: 300px;

      color: $secondary;
      font-size: 1.2rem;
      letter-spacing: 1px;
      text-shadow: $font-shadow;

      border: none;
      background-color: transparent;
      border-bottom: 1px solid $secondary;

      &:hover {
        cursor: text;
      }
      &--focused {
        outline: none;

        /* active state */
        ~ .bar:before,
        ~ .bar:after {
          width: 50%;
        }
        ~ .highlight {
          animation: input-highlighter 0.3s ease;
        }
      }
      /* active state */
      &--focused ~ label,
      &:valid ~ label {
        top: -18px;
        color: $tertiary;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active,
      &:-webkit-autofill:first-line {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: $secondary !important;
      }
      #placeholder {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: $secondary !important;
      }
    }
    label {
      position: absolute;
      top: 10px;
      left: 10px;

      color: $secondary;
      text-shadow: $font-shadow;

      pointer-events: none;
      transition: 0.2s ease all;

      span {
        font-weight: bold;
      }
    }
    .bar {
      position: relative;
      display: block;
      width: 300px;

      &:before,
      &:after {
        position: absolute;
        bottom: 1px;

        height: 2px;
        width: 0;

        content: '';
        background: $tertiary;
      }
      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
    }
    .highlight {
      position: absolute;
      top: 25%;
      left: 0;

      height: 60%;
      width: 100px;

      opacity: 0.5;
      pointer-events: none;
    }
    @keyframes input-highlighter {
      from {
        background: $tertiary;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
  }
}
.styled-btn {
  position: relative;
  left: 0px;
  top: 0px;

  padding: 8px 0;
  height: fit-content;
  width: 100%;

  color: white;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: $primary-font;

  border-radius: 5px;
  border: 1px solid $low-contrast-secondary;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: $low-contrast-tertiary 2px 4px 0px 0px;
  background-color: $low-contrast;

  &.clicked {
    left: 2px;
    top: 4px;

    box-shadow: white 0px 0px 0px 0px;
  }
}
.auth-page {
  @include flex(column, center, center, initial);
  position: relative;
  height: 100%;
  width: 100%;

  &__container {
    @include flex(column, center, center, 95px);

    padding-top: 25vh;
    height: 100%;
    font-family: $primary-font;

    a {
      color: $alt-secondary;
      font-weight: 500;
    }
    .title-card {
      position: relative;
      z-index: -1;

      width: 100%;
      color: $tertiary;
      text-align: center;
      text-shadow: $font-shadow;

      white-space: nowrap;
      font-size: clamp(4.8rem, 5vw, 8rem);
      font-weight: 300;
    }
    .alert-text {
      position: absolute;
      top: 50px;
      left: 2px;

      height: min-content;
      width: 100%;

      text-align: left;
      font-size: 0.92rem;
      font-weight: 600;
      color: $alert;
      transition: all 0.3s ease-in-out;

      &.color-transparent {
        color: transparent;
      }

      @media only screen and (min-width: 740px) {
        flex-direction: row;
      }
    }
    .input-spacedout-field {
      letter-spacing: 3px !important;
    }
  }
  .background-image {
    pointer-events: none;
    position: fixed !important;
  }
}
.nav-icon {
  font-size: 1.5rem;
  color: $alt-primary;

  &.prev,
  &.double-prev {
    transform: rotate(180deg);
  }
}
.input-date-section {
  @include flex(column, initial, flex-start, initial);

  &__label {
    width: 100%;
    margin-bottom: 10px;

    color: $secondary;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: $font-shadow;
    font-family: $primary-font;
  }
  &__divider {
    position: relative;
    display: block;
    width: 300px;
    border-bottom: 1px solid $secondary;
  }
}
#check-in-page {
  height: 100vh;
}
#register-page {
  padding-bottom: 80px;
  overflow-y: scroll;

  .input-section {
    font-size: 1.2rem;

    label {
      top: 14px;
    }
    .input-field:focus ~ label,
    .input-field:valid ~ label {
      top: -13px;
      color: $tertiary;
    }
  }
  .input-date-field {
    ~ label {
      top: -13px;
    }
    &::-webkit-calendar-picker-indicator {
      filter: invert(100%);
    }
  }
}
#loading-dots {
  /* sourced from https://primarypen.io/nzbin/pen/GGrXbp?editors=1100 (modified) */
  position: relative;
  left: -15px;
  right: 0;
  margin: 0 auto;

  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: $alt-tertiary;
  box-shadow: 12px 0 0 -5px $alt-tertiary;
  animation: dotPulse 1s infinite linear;
  animation-delay: 0.17777777s;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $alt-tertiary;
    color: $alt-tertiary;
  }

  &::before {
    box-shadow: -25px 0 0 -5px $alt-tertiary;
    animation: dotPulseBefore 1s infinite linear;
    animation-delay: 0s;
  }

  &::after {
    box-shadow: 36px 0 0 -5px $alt-tertiary;
    animation: dotPulseAfter 1s infinite linear;
    animation-delay: 0.33333s;
  }
  @keyframes dotPulseBefore {
    0% {
      box-shadow: -25px 0 0 -5px $alt-tertiary;
    }
    30% {
      box-shadow: -25px 0 0 2px $alt-tertiary;
    }
    60%,
    100% {
      box-shadow: -25px 0 0 -5px $alt-tertiary;
    }
  }
  @keyframes dotPulse {
    0% {
      box-shadow: 12px 0 0 -5px $alt-tertiary;
    }
    30% {
      box-shadow: 12px 0 0 2px $alt-tertiary;
    }
    60%,
    100% {
      box-shadow: 12px 0 0 -5px $alt-tertiary;
    }
  }
  @keyframes dotPulseAfter {
    0% {
      box-shadow: 36px 0 0 -5px $alt-tertiary;
    }
    30% {
      box-shadow: 36px 0 0 2px $alt-tertiary;
    }
    60%,
    100% {
      box-shadow: 36px 0 0 -5px $alt-tertiary;
    }
  }
}
